@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.welcome {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 3px;
}

.name {
  margin-top: 10px;
  color: #172b46;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  /* width: 327px; */
}

nav {
  margin-right: 15px;
  cursor: pointer;
}

.professional {
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: url("icons/illastrallation/header-illsutration-mobile@2x.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hamburger {
  width: 1.5rem;
  height: 3px;
  border-radius: 2em;
  background-color: black;
  margin: 6px 0;
  position: relative;
}

.pro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-title {
  color: #36b37e;
}

.text {
  width: 327px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 1.8rem 2rem 0 1.2rem;
}

.professional .icon {
  margin-top: 90px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul li {
  list-style: none;
}

.link li {
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
}

/* main1 */
.main1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

/* inside main1 */
.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  position: absolute;
  width: 369px;
  height: 222px;
  left: calc(50% - 369px / 2);
  bottom: 0;
  background: #fff;
  border-radius: 8px;
}

.h1 {
  width: 337px;
  height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.work-section .work-header {
  width: 327px;
  line-height: 75px;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
  margin-top: 64px;
}

.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 68px;
}

.down-arrow {
  text-align: center;
  margin-top: 48px;
}

.bottom-border {
  margin: 10px;
}

.projects {
  display: grid;
  row-gap: 25px;
  margin-top: 40px;
}

.projects .projects-card {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 474px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 6px;
}

.projects-card .image-holder {
  margin-bottom: 15rem;
}

.projects-card .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  top: 252px;
  height: 231px;
}

.text-container .project-header {
  width: 295px;
  height: 52px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.text-container .project-language {
  display: flex;
  justify-content: center;
  width: 309px;
  gap: 8px;
  height: 32px;
}

.project-language .language {
  background: #ebf0ee;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  list-style: none;
  white-space: nowrap;
}

.text-container button {
  width: 122px;
  margin: 24px;
  border: none;
  padding: 12px;
  background: #36b37e;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.about-text button {
  border: none;
  width: 159px;
  height: 48px;
  text-align: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
}

form #submit-btn {
  background-color: #36b37f;
  width: 129px;
  height: 48px;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border: none;
}

.text-container button:hover,
.about-text button:hover,
form #submit-btn:hover {
  background: #36b37f;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-container button:active,
.about-section button:active,
form #submit-btn:active {
  background-color: #008552;
}

/* about section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(/icons/illastrallation/illustration1-about-me-mobile.svg),
    url(/icons/illastrallation/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-position: right -2.1%, 6% -4%;
}

.about-section .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 351px;
  height: 333px;
  gap: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.about-text .primary-text {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.about-text .secondary-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
}

.profession-skills {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
  row-gap: 24px;
}

.profession-skills .card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  box-sizing: border-box;
  border-radius: 8px;
}

.card2 .language-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
}

.card2 .skills {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.skills li {
  font-weight: 600;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #36b37e;
  list-style: none;
  padding: 12px;
}

.framework {
  height: 88px;
  top: 56px;
  gap: 8px;
}

/* Here is the contact form */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  padding: 64px 24px 64px 24px;
  background-image: url(/icons/illastrallation/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 97.72% 91%;
}

.form-section .text {
  width: 327px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 320px;
  height: 330px;
}

form input {
  font-weight: 400;
  font-size: 15px;
  width: 327px;
  height: 48px;
  background-color: white;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}

form textarea {
  width: 327px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #d0d9d4;
  padding: 10px;
  height: 115px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -64px;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
}

@media screen and (min-width: 786px) {

  .professional {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url("icons/desktopimage/Header-llustration-desktop@2x.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 100px;
  }
  .professional .text{
    width: 770px;
  }

  #desktop-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #desktop-nav ul {
    display: flex;
    gap: 32px;
  }

  a {
    text-decoration: none;
    color: #344563;
  }

  #mobile-nav {
    display: none;
  }

  .welcome {
    display: none;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
.about-text .image1{
  position: absolute;
  right:0;
  height: 200px;
  width: 200px;
}
.about-text .image2{
  position: absolute;
  left: 0;
  height: 200px;
  width: 200px;
}

  .about-section .secondary-text{
    width: 770px;

  }

  .profession-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  .workii {
    display: flex;
    justify-content: center;
    margin-inline: 15%;
    align-items: center;
  }

  .workii .text {
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #172b4d;
    margin-top: -10%;
    margin-left: -1%;
  }
  .workii .image3{
    position: absolute;
    left: 0;
    height: 200px;
    width: 200px;
    bottom: -2400;

  }
  .workii .image4{
    position: absolute;
    left: 300;
    height: 100px;
    width: 100px;
    bottom: -2400;

  }
  .workii .image5{
    position: absolute;
    right: 0;
    height: 200px;
    width: 200px;

  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 330px;
    margin: 4px 4px 4px 5px;
    padding: 0px;
  }
  form input {
    width: 100%;
  }
  form textarea {
    width: 100%;
  }
  form button {
    align-self: flex-start;
  }
  .footer-p {
    display: none;
  }
  .bottom-icon{
    margin-top: 70px;
    border-top: 1px solid #344563;
    width: 100%;
  }
  .bottom-icon .icon{
    margin-top: 70px;

  }
}
